p
{
    margin-bottom: 0;
}

.container {
    padding-inline: 20px !important;
    max-width: 100%;
}

.section1 h1 {
    font-size: 54px;
}

.bookingContainer {
    padding-left: 32px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    max-width: 659px;
    flex: 1;
}

.booking .bookNow {
    padding-inline: 20px;
    height: auto;
}

.bookingContainer .inputGroup input,
.inputGroup select {
    width: 100% !important;
    max-width: 159px;
}


.bookNow p {
    font-size: 36px;
}

.booking {
    max-width: 659px;
}

.circles {
    top: -140px;
}

.section2 .cardImgStyle, .section2 .card {
    max-width: 100%;
    min-width: 100%;
    width: auto;
    max-height: 456px;
    height: auto;
    border-radius: 26px;
}

.section2 .arrows:last-child {
    justify-content: center !important;
}

.imageContainer {
    padding-inline: 20px;
}

.section2-header{
    padding-top: 80px;
}
.section2 .heading{
    font-size: 54px;
}

.popularDestinations p{
    font-size:20px ;
    color: #767E86;
}