p {
    margin-bottom: 0;
}

.container {
    padding-inline: 20px !important;
    max-width: 100%;
}

.section1 h1 {
    font-size: 54px;
}

.bookingContainer {
    padding-left: 32px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    max-width: 659px;
    flex: 1;
}

.booking .bookNow {
    padding-inline: 20px;
    height: auto;
}

.bookingContainer .inputGroup input,
.inputGroup select {
    width: 100% !important;
    max-width: 159px;
}


.bookNow p {
    font-size: 36px;
}

.booking {
    max-width: 659px;
}

.circles {
    top: -140px;
}

.section2 .cardImgStyle,
.section2 .card {
    max-width: 100%;
    min-width: 100%;
    width: auto;
    max-height: 456px;
    height: auto;
    border-radius: 26px;
}

.section2 .arrows:last-child {
    justify-content: center !important;
}

.imageContainer {
    padding-inline: 20px;
}

.section2-header {
    padding-top: 80px;
}

.section2 .heading {
    font-size: 54px;
}

.popularDestinations p {
    font-size: 20px;
    color: #767E86;
}

.heading {
    font-size: 54px;
}

.specialOffer p {
    font-size: 24px;
    color: #767E86;
}

.section4 h1 {
    font-size: 54px;
}

.ourBlog p {
    font-size: 24px;
    color: #767E86;
}

.travelImage {
    max-width: 100%;
    min-width: 100%;
    width: auto;
    max-height: 456px;
    height: auto;
}

.travelExplain {
    flex-direction: column;
}

.travelText {
    font-size: 18px;
    line-height: 42px;
}

.section3-header {
    justify-content: flex-end;
}

.section3 .card {
    max-width: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    min-height: 286px;
}

.card-img-top{
object-fit: cover;
}

.section5{
    flex-direction: column;
}

.section5 .ourBlog{
    padding: 0;
    min-width: 0;
    max-width:100%;
}
.section5 .ourBlog p{
    max-width: 332px;
}

.section5{
    gap: 160px;
    padding-bottom: 0;
}

.section5 .images .guidedTour{
    width: 100%;
}


.section5 .images{
    padding-inline: 20px;
    flex-direction: column;
}

.tour, .money{
    font-size: 24px;
}

.cityTour{
    font-size: 32px;
}

.days{
    justify-content: space-between;
    margin-top: 20px;
}

.guidedTour .days:nth-child(2){
    margin-top: 12px !important;
}

.section6 .images{
    flex-direction: column;
}

.section6 .images .image{
    width: 100%;
    max-height: 351px;
    object-fit: cover;
}

.section6 .images .image:nth-child(2){
    margin-bottom: 0;
}

.section6 .arrows:last-child{
    justify-content: center;
}

.section5 .w-300{
    width: 100%;
}

.section6{
    padding-top: 100px;
}

.cardsContainer{
    padding-left: 32px;
}

.section7 .container{
    padding-left: 32px !important;
}

.section7 .arrows{
    justify-content: center;
    padding-right: 0;
}

.section3 .cards{
    overflow-x: scroll;
}

.section3 .pricing{
    margin-top: 24px;
}

.br-12{
    border-radius: 12px !important;
}

.btn-orange{
    font-size: 20px !important;
}

.newsletter{
    min-width: 0;
    width: 732px;
    flex-direction: column;
    gap: 60px;
    padding: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    top: -12%;
}

.newsletter h1{
    font-size: 54px;
    font-weight: 400;
}

.emailSubscribe{
    width: 100%;
    justify-content: center;
}

.enter{
    min-width: 457px;
}

.section8{
padding-inline: 18px;
}

.section3 .dis-flex{
    display: flex !important;
    justify-content: center;
}
.section8-body {
    margin-top: 163px;
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 140px;
    padding-inline: 12px;
}

.menus {
    flex-direction: column;
    gap: 60px;
}

.navbar-brand img{
    max-width: 100%;
}
.logo>img:first-child{
    max-width: 100%;
}

.section3 .arrows:last-child{
    justify-content: center;
}

.display{
    display: none !important;
}

.travelbody{
    margin-left: 0;
}

.orange{
    margin-left: 13px;
}

.top20{
    left: 0;
}

.display-non{
display: flex !important;
}